

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
   
}
.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5); /* Reduce la opacidad del borde */
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Para ocultar el resplandor fuera del borde */
  
    /* Animación de destello */
    animation: borderGlow 2s ease-in-out infinite;
  }
  
  @keyframes borderGlow {
    0% {
      box-shadow: 0 0 10px rgba(229, 221, 221, 0.5); /* Resplandor inicial */
    }
    50% {
      box-shadow: 0 0 20px rgba(229, 221, 221, 0.671); /* Resplandor máximo a la mitad de la animación */
    }
    100% {
      box-shadow: 0 0 10px rgba(229, 221, 221, 0.881); /* Resplandor de regreso al estado inicial */
    }
  }

h2{
    font-size: 2em;
    color: #8914bb;
    text-align: center;
}

.inputbox{
    position: relative ;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #8914bb;

}

.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #8914bb;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:valid ~ label{
top: -5px
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #8914bb;
}

.forget{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #8914bb;
    display: flex;
    justify-content: center;
   
}

.forget label a{
    color: #fff;
    text-decoration: none;

}
.forget label a:hover {
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #1bd7de;
    color: #8914bb;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;

}

.register{
    font-size: .9em;
    color: #8914bb;
    text-align: center;
    text-align: center;
    margin: 25px 0 10px;

}

.register p a{
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
}

.register p a:hover{
    text-decoration: underline;
}
