<section>
    <div class="form-box">
        <div class="form-value">
            <form>
                <h2>User Registration</h2>

                <div class="inputbox">
                    <input type="text" [(ngModel)]="user.name" name="name" required>
                    <label>Name</label>
                </div>

                <div class="inputbox">
                    <input type="password" [(ngModel)]="user.password" name="password" required>
                    <label>Password</label>
                </div>

                <div class="inputbox">
                    <input type="text" [(ngModel)]="user.lastname" name="lastname">
                    <label>Last Name</label>
                </div>

                <div class="inputbox">
                    <input type="email" [(ngModel)]="user.email" name="email" required>
                    <label>Email</label>
                </div>

                <div class="inputbox">
                    <input type="text" [(ngModel)]="user.username" name="username" required>
                    <label>Username</label>
                </div>

                <button (click)="register()" type="submit">Register</button>

                <div class="register">
                    <p>Already have an account? <a routerLink="/login">Login here</a></p>
                </div>
            </form>
        </div>
    </div>
</section>
