
<div *ngIf="!detail" class="container" >
    <h1 class="title">Registrar Compra</h1>
  
    <div class="container mx-auto my-4 p-4 bg-white rounded shadow-lg grid grid-cols-1 lg:grid-cols-2 gap-4">
  
      <!-- Nueva Compra -->
      <div class="rounded shadow-xl p-2">
          <h2 class="text-xl font-semibold mb-4">Nueva Compra</h2>
          <form >
            <div class="grid grid-cols-1 gap-4 mb-4">
              <div>
                  <label class="block text-sm font-medium text-gray-700">Proveedores</label>
                  <select 
                  name="supplier"
                  [(ngModel)]="selectedSupplier"
                  class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <option *ngFor="let p of proveedores" [value]="p.document">{{ p.name }}</option>
                  </select>
              </div>
              <div>
                  <label class="block text-sm font-medium text-gray-700">Tipo de Pago</label>
                  <select 
                  name="paymentType"
                  [(ngModel)]="selectedPaymentType"
                  class="mt-1 block w-full rounded-md border border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm">
                    <option *ngFor="let type of typeDPayment" [value]="type.id">{{ type.name }}</option>
                  </select>
              </div>
              <div class="grid grid-cols-2 gap-4 mb-4">
                <div>
                    <label class="block text-sm font-medium text-gray-700">Serie</label>
                    <input type="text" value="F001" class="mt-1 block w-full rounded-md px-1 border border-gray-300 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
                <div>
                    <label class="block text-sm font-medium text-gray-700">Nro Compra</label>
                    <input type="text" value="000025" class="mt-1 block w-full rounded-md px-1 border border-gray-300 shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                </div>
              </div>
              <div>
                  <label class="block text-sm font-medium text-gray-700">Descripción</label>
                  <textarea name="description" [(ngModel)]="description" rows="3" class="mt-1 block w-full border rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"></textarea>
              </div>
          </div>
          </form>
          


          <h3 class="text-lg font-semibold mb-2">Productos</h3>
          <div class="relative mb-4">
              <input
              name="buscar"
              [(ngModel)]="buscar"
              (ngModelChange)="onSearchChange($event)"
              type="text" class="block w-full pl-10 pr-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" placeholder="Buscar">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <svg class="h-5 w-5 text-gray-400" fill="currentColor" viewBox="0 0 20 20">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 001 1h2a1 1 0 100-2h-1V6z" clip-rule="evenodd"></path>
                  </svg>
              </div>
          </div>
  
          <div class="overflow-auto max-w-full max-h-screen mb-4">
  
            <table class="overflow-auto min-w-full divide-y divide-gray-200 w-full">
              <thead class="bg-gray-50">
                  <tr>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CÓDIGO</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">NOMBRE</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CANTIDAD</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PRECIO COMPRA</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">TOTAL</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                  </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                  
                @for (p of productos; track $index) {
                  <tr *ngIf="p">
                      <td class="whitespace-nowrap ">
                        <img [src]="p.pathImage" alt="IMAGEN" class="h-10 object-contain"/>
                        </td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{p.cod_product}}</td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm">{{p.name}}</td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm">
                          <button (click)="bajarCantidad()" class="text-gray-600 hover:text-gray-900">
                            <svg class="h-5 w-5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="5" y1="12" x2="19" y2="12" /></svg>
                          </button>
                          <span name="cantidad" class="mx-2">{{cantidad}}</span>
                          <button
                          (click)="subirCantidad()"
                          class="text-gray-600 hover:text-gray-900">
                            <svg class="h-5 w-5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="5" y1="12" x2="19" y2="12" /></svg>
                          </button>
                      </td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm">
                        <input 
                        
                        class="w-20 border-2 border-blue-500" name="precio" type="number"
                        (input)="onPrecioChange($event)"
                        >
                        
                      </td>
                      <td name="subtotalA"  class="px-4 py-4 whitespace-nowrap text-sm">{{ subtotalA }}</td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm">

                        
                          <button
                          (click)="pasarProducto(p)"
                          class="inline-block rounded-full border bg-green-200 p-3 text-green-600 hover:bg-green-400 hover:text-green-900 focus:relative"
                          title="Agregar Product"
                        >
                        <svg class="h-6 w-6 text-green-900 focus:relative"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="9" cy="19" r="2" />  <circle cx="17" cy="19" r="2" />  <path d="M3 3h2l2 12a3 3 0 0 0 3 2h7a3 3 0 0 0 3 -2l1 -7h-15.2" /></svg>
                        </button>
                      </td>
                  </tr>

                  <tr *ngIf="!p">
                    <td class="px-3 py-2 whitespace-nowrap text-sm">
                      ---
                      </td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-900">---</td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">---</td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">
                        <button class="text-gray-600 hover:text-gray-900">
                          <svg class="h-5 w-5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="5" y1="12" x2="19" y2="12" /></svg>
                        </button>
                        <span class="mx-2">---</span>
                        <button class="text-gray-600 hover:text-gray-900">
                          <svg class="h-5 w-5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="5" y1="12" x2="19" y2="12" /></svg>
                        </button>
                    </td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">---</td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">---</td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">

                      
                        <button
                        class="inline-block rounded-full border bg-green-200 p-3 text-green-600 hover:bg-green-400 hover:text-green-900 focus:relative"
                        title="Agregar Product"
                      >
                      <svg class="h-6 w-6 text-green-600 hover:text-green-900 focus:relative"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="9" cy="19" r="2" />  <circle cx="17" cy="19" r="2" />  <path d="M3 3h2l2 12a3 3 0 0 0 3 2h7a3 3 0 0 0 3 -2l1 -7h-15.2" /></svg>
                      </button>
                    </td>
                </tr>

                }
                
              </tbody>
          </table>
  
          </div>
  
  
          <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
            <div class="flex flex-1 justify-between sm:hidden">
              <a href="#" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Previous</a>
              <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Next</a>
            </div>
            <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
              <div>
                <p class="text-sm text-gray-700">
                  Mostrando
                  <span class="font-medium">{{from}}</span>
                  a
                  <span class="font-medium">{{to}}</span>
                  de
                  <span class="font-medium">{{totalEmlements}}</span>
                  resultados
                </p>
              </div>
              <div>
                <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                    <button 
                    (click)="previusPage()" 
                    [disabled]="first"
                    [class.cursor-not-allowed]="first"
                    [class.bg-gray-200]="first"
                    [class.text-gray-400]="first"
                    [class.ring-gray-300]="first"
                    [class.hover\:bg-gray-50]="!first"
                    class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset focus:z-20 focus:outline-offset-0"
                  >
                    <span class="sr-only">Previous</span>
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" clip-rule="evenodd" />
                    </svg>
                  </button>
                  <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" -->
                 
                  @for (item of items; track $index) {
                    
                    @if (item>=(selectedPage-2)&& item <= selectedPage+2) {
                        <a
                        [ngClass]="{'bg-indigo-600 text-white': selectedPage === item, 'text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50': selectedPage !== item}" 
                        class="relative z-10 inline-flex items-center px-4 py-2 text-sm font-semibold focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                        (click)="selectPage(item)">
                       {{item+1}}
                     </a>
                    }
                    
    
                 }
                 
                  
                  <button 
                  (click)="nextPage()" 
                  [disabled]="last"
                  [class.cursor-not-allowed]="last"
                  [class.bg-gray-200]="last"
                  [class.text-gray-400]="last"
                  [class.ring-gray-300]="last"
                  [class.hover\:bg-gray-50]="!last"
                  class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset focus:z-20 focus:outline-offset-0"
                >
                  <span class="sr-only">Next</span>
                  <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
                  </svg>
                </button>
                </nav>
              </div>
            </div>
          </div>
  
  
      </div>
  
      <!-- Orden Compra -->
      <div class="rounded shadow-xl p-2">
          <h2 class="text-xl font-semibold mb-4">Orden Compra</h2>
  
          <div class="overflow-auto max-w-full max-h-screen mb-4">
  
            <table class="min-w-full divide-y divide-gray-200 w-full">
              <thead class="bg-gray-50">
                  <tr>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CÓDIGO</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">NOMBRE</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CANTIDAD</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PRECIO</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">TOTAL</th>
                      <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                  </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                
                @for (p of productosCAR; track $index) {
                  <tr *ngIf="p">
                      <td class="whitespace-nowrap text-sm">
                        <img [src]="p.image" alt="IMAGEN" class=" h-10 object-contain"/>
                        </td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{p.cod_product}}</td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm">{{p.name}}</td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm">
                          
                          <span name="cantidad" class="mx-2">{{p.cantidad}}</span>
                          
                      </td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm">
                       <span>{{p.precio}}</span>
  
                      </td>
                      <td name="subtotalA"  class="px-4 py-4 whitespace-nowrap text-sm">{{ p.precio*p.cantidad }}</td>
                      <td class="px-4 py-4 whitespace-nowrap text-sm">

                        
                        <button
                        (click)="deleteCar(p)"
                        class="inline-block rounded-full border bg-red-200 p-3 text-red-600 hover:bg-red-400 hover:text-red-900 focus:relative"
                        title="Delete Product"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="2.4"
                          stroke="currentColor"
                          class="h-5 w-5"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                          />
                        </svg>
                      </button>
  
                      </td>
                  </tr>

                  <tr *ngIf="!p">
                    <td class="px-3 py-2 whitespace-nowrap text-sm">
                      ---
                      </td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-900">---</td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">---</td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">
                        <button class="text-gray-600 hover:text-gray-900">
                          <svg class="h-5 w-5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="5" y1="12" x2="19" y2="12" /></svg>
                        </button>
                        <span class="mx-2">---</span>
                        <button class="text-gray-600 hover:text-gray-900">
                          <svg class="h-5 w-5 text-gray-600"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="12" y1="5" x2="12" y2="19" />  <line x1="5" y1="12" x2="19" y2="12" /></svg>
                        </button>
                    </td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">---</td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">---</td>
                    <td class="px-4 py-4 whitespace-nowrap text-sm">

                      
                        <button
                        class="inline-block rounded-full border bg-green-200 p-3 text-green-600 hover:text-green-900 focus:relative"
                        title="Agregar Product"
                      >
                      <svg class="h-6 w-6 text-green-600 hover:text-green-900 focus:relative"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <circle cx="9" cy="19" r="2" />  <circle cx="17" cy="19" r="2" />  <path d="M3 3h2l2 12a3 3 0 0 0 3 2h7a3 3 0 0 0 3 -2l1 -7h-15.2" /></svg>
                      </button>
                    </td>
                </tr>

                }
                
              
              </tbody>
          </table>
  
          </div>
  
          <div class="px-4 py-2 bg-gray-50 rounded-md shadow-md">
              <div class="flex justify-between items-center mb-2">
                  <span class="text-sm font-medium text-gray-600">Subtotal:</span>
                  <span class="text-sm text-gray-900">{{this.subtotalCAR}}</span>
              </div>
              <div class="flex justify-between items-center mb-2">
                  <span class="text-sm font-medium text-gray-600">IGV:</span>
                  <span class="text-sm text-gray-900">{{IGV}}</span>
              </div>
              <div class="flex justify-between items-center mb-2">
                  <span class="text-sm font-medium text-gray-600">Monto Total:</span>
                  <span class="text-sm text-gray-900">{{totalCAR}}</span>
              </div>
              <button
              (click)="registrarCOmpra()"
              class="w-full py-2 bg-purple-500 text-white rounded-md shadow-sm hover:bg-purple-700">GUARDAR</button>
          </div>
      </div>
  
  </div>


  <div *ngIf="detail" class="container" >
    <div class="container mx-auto my-4 p-4 bg-white rounded shadow-lg grid grid-cols-1 lg:grid-cols-2 gap-4">
    <div class="rounded shadow-xl p-2">
      <h2 class="text-xl font-semibold mb-4">Detalles de Compra</h2>

      <div class="overflow-auto max-w-full max-h-screen mb-4">

        <table class="min-w-full divide-y divide-gray-200 w-full">
          <thead class="bg-gray-50">
              <tr>
                  <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
                  <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CÓDIGO</th>
                  <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">NOMBRE</th>
                  <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CANTIDAD</th>
                  <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">PRECIO</th>
                  <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">TOTAL</th>
                  <th scope="col" class="px-4 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"></th>
              </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            
            @for (d of Detalles; track $index) {
              <!-- <tr >
                  <td class="px-3 py-2 whitespace-nowrap text-sm">
                    <img [src]="d.image" alt="IMAGEN" class="w-16 h-16 object-contain"/>
                    </td>
                  <td class="px-4 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{p.cod_product}}</td>
                  <td class="px-4 py-4 whitespace-nowrap text-sm">{{p.name}}</td>
                  <td class="px-4 py-4 whitespace-nowrap text-sm">
                      
                      <span name="cantidad" class="mx-2">{{p.cantidad}}</span>
                      
                  </td>
                  <td class="px-4 py-4 whitespace-nowrap text-sm">
                   <span>{{p.precio}}</span>

                  </td>
                  <td name="subtotalA"  class="px-4 py-4 whitespace-nowrap text-sm">{{ p.precio*p.cantidad }}</td>
                  <td class="px-4 py-4 whitespace-nowrap text-sm">

                    
                    <button
                    (click)="deleteCar(p)"
                    class="inline-block rounded-full border bg-red-200 p-3 text-red-600 hover:text-red-900 focus:relative"
                    title="Delete Product"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke-width="2.4"
                      stroke="currentColor"
                      class="h-5 w-5"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                      />
                    </svg>
                  </button>

                  </td>
              </tr> -->

       

            }
            
          
          </tbody>
      </table>

      </div>

      <div class="px-4 py-2 bg-gray-50 rounded-md shadow-md">
          <div class="flex justify-between items-center mb-2">
              <span class="text-sm font-medium text-gray-600">Subtotal:</span>
              <span class="text-sm text-gray-900">{{this.subtotalCAR}}</span>
          </div>
          <div class="flex justify-between items-center mb-2">
              <span class="text-sm font-medium text-gray-600">IGV:</span>
              <span class="text-sm text-gray-900">{{IGV}}</span>
          </div>
          <div class="flex justify-between items-center mb-2">
              <span class="text-sm font-medium text-gray-600">Monto Total:</span>
              <span class="text-sm text-gray-900">{{totalCAR}}</span>
          </div>
          <button
          (click)="registrarCOmpra()"
          class="w-full py-2 bg-purple-500 text-white rounded-md shadow-sm hover:bg-purple-700">GUARDAR</button>
      </div>
  </div>
  </div>
  </div>