<div class="dashboard-container">


    <app-sidebar>
        
    </app-sidebar>
    <!-- Sidebar 
    <div class="sidebar">
        <div class="logo">
            <img src="../../../../assets/images/pngwing.com.png" alt="Logo">
            <span>Welcome {{name}}</span>
        </div>
        <ul class="sidebar-menu">
            <li><a routerLink="/dashboard/admin-dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
            <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
            <li><a routerLink="/dashboard/admin-dashboard/register-user" >Register  User</a></li>
        </ul>
    </div>
-->
    

    <!-- Main Content Area -->
    <div class="main-content">

   

        <router-outlet></router-outlet>
    </div>
</div>
