<div class="dashboard-container">
    <!-- Sidebar -->
    <div class="sidebar">
        <div class="logo">
            <img src="../../../../assets/images/pngwing.com.png" alt="Logo">
            <span>Welcome {{name}}</span>
        </div>
        <ul class="sidebar-menu">
            <li><a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
            <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
            <li><a routerLink="/settings" routerLinkActive="active">Settings</a></li>
        </ul>
    </div>

    <!-- Main Content Area -->
    <div class="main-content">
        <div class="card">Panel de Información 1</div>
        <div class="card">Panel de Información 2</div>
        <div class="card">Panel de Información 3</div>
        <div class="card">Panel de Información 4</div>
    </div>
</div>
