<div class="container">
  <div class="title">Registro de nuevo usuario</div>
  <div class="content">
    <form  (ngSubmit)="register()" #userForm="ngForm">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Nombre</span>
          <input type="text" id="name" name="name" [(ngModel)]="user.name"   placeholder="Ingresa tu nombre" required>
        </div>
        <div class="input-box">
          <span class="details">Apellido</span>
          <input type="text" id="lastname" name="lastname" [(ngModel)]="user.lastname"  placeholder="Ingresa tu apellidp" required>
        </div>
        <div class="input-box">
          <span class="details">Username</span>
          <input type="text" id="username" name="username" [(ngModel)]="user.username" placeholder="Ingresa tu nombre de usuario" required>
        </div>
        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" id="email" name="email" [(ngModel)]="user.email" placeholder="Ingresa tu correo" required>
        </div>
        <div class="input-box">
          <span class="details">Número de telefono</span>
          <input type="text" id="phone" name="phone" [(ngModel)]="user.phone"  placeholder="Ingresa tu telefono" required>
        </div>
        <div class="input-box">
          <span class="details">Dirección</span>
          <input type="text" id="address" name="address" [(ngModel)]="user.address"  placeholder="Ingresa tu direccion" required>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="password" id="password" name="password" [(ngModel)]="user.password"  placeholder="Ingresa tu contraseña" required>
        </div>
        <div class="input-box">
          <span class="details">Confirm Password</span>
          <input name="confirmPassword" type="password" [(ngModel)]="confirmPassword" placeholder="repite tu constraseña" required>
        </div>
      </div>
        <div class="roles-box">
          <label>Roles:</label>
          <ng-multiselect-dropdown
  [placeholder]="'Selecciona los roles'"
  [settings]="dropdownSettings"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
  (onDeSelect)="onItemDeSelect($event)"
  (onDeSelectAll)="onDeSelectAll()"

>
</ng-multiselect-dropdown>
          
        </div>
          
    
      <div class="button">
        <button type="submit" 
         
        value="Registrar">Registrar</button>
      </div>
    </form>
  </div>
</div>